<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- USER_NAMEのカラム名をuserNameとしてオブジェクトにマッピングする設定 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- handler一括読み込み -->
    <typeHandlers>
        <package name="example.mybatis.handler"/>
    </typeHandlers>
</configuration>
