<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.mybatis.mapper.UserMapper">
    <resultMap type="example.mybatis.domain.User" id="UserResult">
        <id property="id" column="ID"/>
        <result property="loginId" column="LOGIN_ID"/>
        <result property="encodedPassword" column="ENCODED_PASSWORD"/>
        <result property="name" column="NAME"/>
        <result property="mailAddress" column="MAIL_ADDRESS"/>
        <result property="userType" column="USER_TYPE"/>
    </resultMap>
</mapper>
